{% extends "layout.html" %}

{% block page_title %}
  Introduction slides
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Introduction slides</h1>

      <p>
        This prototype shows different variations of the introduction slides pattern.
      </p>

      <p>
        Light text on a dark background can cause problems for people with dyslexia or other cognitive impairments. I've created a version that uses dark text on a light background, with the addition of a thick border.
      </p>

      <p>You can change between the two styles using the "Version 1 / Version 2" toggle below each slide.</p>

      <h2 class="heading-medium">Slides</h2>

      <ol class="list list-number">
        <li><a href="/intro-slide-01">With headings</a></li>
        <li><a href="/intro-slide-02">Hidden headings</a></li>
        <li><a href="/intro-slide-03">Logo left</a></li>
        <li><a href="/intro-slide-04">Logo right</a></li>
        <li><a href="/intro-slide-05">Buttons and links</a></li>
        <li><a href="/intro-slide-06">Hidden text</a></li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}


