{% extends "layout.html" %}

{% block page_title %}
  Introduction slides
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Introduction slides</h1>

      <p>
        This prototype shows different variations of the introduction slides pattern.
      </p>

      <p>
        Light text on a dark background <a href="http://uxmovement.com/content/when-to-use-white-text-on-a-dark-background/">can</a> <a href="https://www.joedolson.com/2006/08/on-the-readability-of-inverted-color-schemes/">cause</a> <a href="http://www.456bereastreet.com/archive/200608/light_text_on_dark_background_vs_readability/">problems</a> for people with dyslexia and is generally harder to read. I've created a version that uses dark text on a light background, with the addition of a thick border.
      </p>

      <p>You can change between the two styles using the "Version 1 / Version 2" toggle below each slide.</p>

      <h2 class="heading-medium">Slides</h2>

      <ol class="list list-number">
        <li><a href="/intro-slide-01">With headings</a></li>
        <li><a href="/intro-slide-02">Hidden headings</a></li>
        <li><a href="/intro-slide-03">Logo left</a></li>
        <li><a href="/intro-slide-04">Logo right</a></li>
        <li><a href="/intro-slide-05">Buttons and links</a></li>
        <li><a href="/intro-slide-06">Hidden text</a></li>
      </ol>

      <h2 class="heading-medium">Guidance</h2>

      <p>Some principles/guidance around using the introduction slides pattern:</p>

      <ul class="list list-bullet">
        <li>Slides should have headings. You may want to visually hide the headings but as a general rule it's simpler not to.</li>

        <li>One thing per slide. As the slides are used to introduce a new concept or service, each slide should contain a simple chunk of information that is easy to comprehend.</li>

        <li>Use larger text (24px) in slides.</li>

        <li>Use "Continue" buttons to advance to the next slide.</li>

        <li>Don't use form elements (except buttons) within slides. Form elements will add extra complexity and you will need to deal with error states.</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


