{% extends "layout_slide.html" %}

{% block page_title %}
  Logo left
{% endblock %}

{% block slide_content %}

<div class="column-one-third">
  <figure>
    <img srcset="/public/images/govuk-verify.svg 1x" alt="GOV.UK Verify" src="/public/images/govuk-verify.png">
  </figure>
</div>
<div class="column-two-thirds">
  <h1>Heading level 1</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iusto, sit, distinctio rem recusandae cum explicabo repellendus sed ipsa facilis, laudantium numquam quod quae corporis minus facere molestiae quos reprehenderit.</p>
</div>

{% endblock %}