// Slides layout
// ==========================================================================

.slides.slides-2 {

  background-color: $white;
  color: $mainstream-brand;

  border: solid $mainstream-brand $gutter-one-third;

  padding: $gutter-two-thirds;

  @include media(tablet) {
    padding: 35px;
  }

  @include media(desktop) {
    padding: 65px 60px;
  }

  .actions {
    .button {
      background: $mainstream-brand;
      color: $white;
    }
  }

  details {
    summary {
      color: $mainstream-brand;
    }

    .panel {
      border-left-color: $mainstream-brand;
    }
  }
}
